*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{


}
.logo{
    display: flex;
    justify-content:space-between ;
}
ul{
    display: flex;
    justify-content: space-evenly;
list-style: none;
}

main article h1{
font-size: 2rem;
width: 36rem;
display: flex;
justify-self: center;
text-align: left;

}

article p{

    font-size: 1rem; 
    width: 36rem;
    display: flex;
justify-self: center;
text-align: left;
}

.navbar{

    box-shadow: 5px  1px 10px 5px hsl(0 0 0 / 20%);
    
}

.info{

    text-align: center;
}

footer{

    background-color: #D7D7D7;
}


.opacity_text{
  
    font-size: 1rem; 
    width: 36rem;
    display: flex;
justify-self: center;
text-align: left;

}


article img{




}